<nav>
    <div class="nav-wrapper topnav">
        <a class="nav-link active" href="/">Mongo Scraper</a>
        <ul>
            <li><a class="nav-link" href="/scrape">Scrape</a></li>
        </ul>
    </div>
</nav>