<div class="row">
    <div class="col s2"></div>
    <div class="col s8 left-align"></div>
    {{ifeach}}
    <div class="card-panel">
        <h4>{{this.title}}</h4>
        <a href="/readArticle/{{this.id}}" id="signup">Read Article</a>
    </div>
    {{/each}}

</div>